td, th {
    border: 1px solid green;
    padding: 10px;
}

/* COMMENTAIRE DANS LE CSS */

/*table { 
    border-collapse: collapse;
 }*/
 html {
    background-color:lightgray;
 }

 label, input {
    display:block; 
 
 }
 label {
    margin-top: 10px;
 }
 /*VOici un exemple de selecteur */
 input[type="checkbox"], 
 input[type="checkbox"] + label, 
 input[type="radio"], 
 input[type="radio"] + label   {
    display:inline;
    margin-top: 15px;
 }

 li input, li label {
    display: inline;
 }




